.header_get{
    background-color: rgb(143, 236, 236);
    height: 500px;
}

.h1_main{
    text-align: center;
}

.Lorem{
    text-align: center;
}

.Button_1{
    text-align: center;
    background-color:blue
}